h1, h2, h3, h4, h5, h6 {
   color: crimson;
   text-align: center;
}

h1 {
  font-size: 80px;
  border-bottom: 2px solid rgb(150, 16, 43);
}

h2 {
  font-size: 60px;
  border-bottom: 2px solid rgb(150, 16, 43);
  text-transform: capitalize;
}

h3 {
  font-size: 40px;
}


body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin-left: 25% ;
  margin-right: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;  
  border: 2px dotted  crimson;
}


li {
  font-size: 20px;
}
li.checkedLi {
  text-decoration: line-through;  
}


input[type=submit] {
  
  text-align: center;
  background-color: crimson;
  color: white;
  border-style: none;
  padding:10px;
  border-radius: 8px;
  width: 100px;
}

input[type=submit]:hover {
  background-color: rgb(255, 177, 177);
  color: crimson; 
}

button {
  text-align: center;
  background-color: crimson;
  color: white;
  border-style: solid;
  padding:10px; 
  border-radius: 8px;
  font-size:14px;
  width:300px;
  
  margin-bottom: 50px;
}

button:hover {
  background-color: rgb(255, 177, 177);
  color: crimson ;
}


form {
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

form input {
  padding: 5px;
  margin: 5px;
  width: 200px;
  text-align: center;
}

.todoForm {
  margin: auto;
  width: 50%;
}

.todoForm input {
  font-size: 20px;
}
.todoForm input[type=text] {
  width: 800px;
}

 .btnDelete {
  text-align: center;  
}

.btnNewAccount, .returnBtn {
  text-align: right;
}
